.sidebarRow {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  cursor: pointer;
  margin: 0.9rem 0;
}
.sidebarRow:hover {
  background-color: lightgray;
  border-radius: 0.6rem;
}
.sidebarRow > h4 {
  margin-left: 1.2rem;
  font-weight: 600;
  font-size: 1.1rem;
}
.sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}
